.container {
    margin: auto;
    margin-top: 200px;
    width: 35%;
    border: solid 10px green;
    background-color: hotpink;
}
.close {
   position:relative;
    margin-left: 350px;
    margin-bottom: 30px;
background-color: #04AA6D;
  border: solid 5px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    
}
a:link {
  color: white;
  background-color: transparent;
    text-decoration: underline;
}
a:visited {
  color: white;
  background-color: transparent;
    text-decoration: underline;}

.message {
    margin: auto;
    padding: 5px;
    text-align:center;
    margin-top: 50px;
    background-color: lightpink;
    width: 80%;
    font-family: cursive;
}
#mes {
    color: white;
    font-size: 30px;
}
